:root {
  --white_A700_7f: #ffffff7f;
  --green_300: #74ef80;
  --white_A700_7e: #ffffff7e;
  --white_A700_3f: #ffffff3f;
  --lime_A200: #d4f938;
  --green_900: #0a6f30;
  --lime_A200_b2_01: #d5fa39b2;
  --red_400: #f45f5f;
  --gray_800_01: #393939;
  --green_700: #1d974f;
  --black_900_3f: #0000003f;
  --green_500: #33b568;
  --black_900_87: #00000087;
  --lime_300_cc: #e2ff6fcc;
  --lime_A200_66: #ebff2566;
  --green_A700: #13ab4b;
  --black_900_01: #0e0e0f;
  --green_700_02: #1c9a45;
  --teal_700: #1d7b6e;
  --green_700_03: #229751;
  --green_700_01: #1c934c;
  --blue_gray_900_01: #32333a;
  --blue_gray_900: #343434;
  --lime_300: #e2ff6f;
  --gray_400: #bbbbc3;
  --blue_gray_100: #d8d8dd;
  --gray_800: #3c3c3b;
  --red_A200: #ff6554;
  --green_A400_3f: #31d8753f;
  --gray_200: #e7e7ea;
  --black_900_0c: #0000000c;
  --lime_100: #f1ffbd;
  --lime_300_00: #e2ff6f00;
  --lime_A200_33: #ebff2533;
  --green_600_03: #269b56;
  --green_900_01: #0b7030;
  --green_600_02: #269b55;
  --green_600_01: #27a65a;
  --blue_gray_400_01: #808090;
  --white_A700: #ffffff;
  --green_900_02: #1b6439;
  --green_200_cc: #a8ef9ccc;
  --teal_400_01: #29b57e;
  --green_200: #a8ef9c;
  --lime_A200_b2: #d4f938b2;
  --green_800: #058a36;
  --green_A200: #57f289;
  --green_600: #27a35a;
  --green_400_90: #43d46b90;
  --gray_50: #fbfbfb;
  --lime_300_3f: #e2ff6f3f;
  --green_A400: #32d875;
  --green_400: #45dc76;
  --lime_A200_02: #ebff25;
  --teal_400: #28b5a2;
  --lime_A200_03: #d8ff35;
  --lime_A200_01: #d5fa39;
  --black_900_66: #0f0f0f66;
  --black_900: #000000;
  --light_green_500: #78e65d;
  --green_A400_f4: #31d875f4;
  --black_900_66_01: #00000066;
  --gray_500_01: #a591aa;
  --green_900_33: #2a5d3233;
  --gray_500_02: #a0a0ac;
  --green_400_01: #43c277;
  --lime_800_01: #af982b;
  --lime_400_7e: #daf7607e;
  --gray_900_02: #141414;
  --green_200_00: #a8ef9c00;
  --gray_700: #666673;
  --lime_400: #daf760;
  --gray_500: #a9a9a9;
  --blue_gray_400: #8c8c8c;
  --lime_800: #aaa617;
  --gray_900: #19191d;
  --gray_900_01: #1b1b1f;
  --gray_300: #dddddd;
  --gray_100: #f3f3f3;
  --green_500_01: #35d067;
  --white_A700_87: #ffffff87;
  --white_A700_00: #ffffff00;
  --green_900_66: #2a5d3266;
}
